.container {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.stack {
    display: flex;
    flex-direction: column;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
}

.tittle {
    padding: 3px;
}

.button {
    padding: 10px;
    border-radius: 12px;
    margin-top: 15px;
    height: 40px;
    background-color: blue;
    color: white;
}

.input {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
}

.weather {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: larger;
}